@keyframes bgcolors {
	0% {background-color: #FFFFFF55;}
	14% {background-color: #FF000055;}
	28% {background-color: #FFFF0055;}
	42% {background-color: #00FF0055;}
	56% {background-color: #00FFFF55;}
	70% {background-color: #0000FF55;}
	84% {background-color: #FF00FF55;}
}

@keyframes rotate {
	0% {transform: rotate(0deg);}
	10%,100% {transform: rotate(360deg);}
}

body.secret {
	animation: 5s ease-in-out infinite bgcolors;
	font-family: 'Comic Sans MS', system-ui, serif;
	font-style: italic;
	font-size: 50px;
}

body.secret img {
	animation: 10s linear infinite rotate;
}

body.secret * {
	transform: scaleX(1.1) rotate(3deg);
}